[Unit]
Description=Program stm32h7 on Portenta-X8 boards
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sh /usr/arduino/extra/load_modules_pre.sh
ExecStart=/bin/sh /usr/arduino/extra/program-h7.sh
ExecStartPost=/bin/sh /usr/arduino/extra/load_modules_post.sh

[Install]
WantedBy=basic.target
