[Unit]
Description=Configure interface for modem EC200A-EU
After=network.target sys-subsystem-net-devices-ec200aeu.device
StartLimitBurst=4
StartLimitIntervalSec=0

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/sh -c '\
route del default gw 192.168.43.1 dev ec200aeu &&\
route add default gw 192.168.43.1 dev ec200aeu metric 800 &&\
route del -net 192.168.43.0 netmask 255.255.255.0 dev ec200aeu &&\
route add -net 192.168.43.0 netmask 255.255.255.0 dev ec200aeu metric 800'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
