[Unit]
Description=Configure dhcp server on usb ecm interface
BindsTo=sys-subsystem-net-devices-usb1.device
After=android-tools-adbd.service rndis-network.service sys-subsystem-net-devices-usb1.device

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/nmcli c delete usbecm; /usr/bin/nmcli c add type ethernet ifname usb1 ipv4.method shared con-name usbecm && /usr/bin/nmcli c modify usbecm ipv4.addresses 192.168.8.1/24 && /usr/bin/nmcli c up usbecm'
ExecStop=/bin/sh -c '/usr/bin/nmcli c down usbecm && /usr/bin/nmcli c delete usbecm'

[Install]
WantedBy=usb-gadget.target