[Unit]
Description=M4 builtin led forwarder
After=stm32h7-program.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/m4_led_forwarder enable
ExecStop=/bin/sh /usr/bin/m4_led_forwarder disable
