[Unit]
Description=M4 builtin led forwarder

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/m4-led-forwarder enable
ExecStop=/bin/sh /usr/bin/m4-led-forwarder disable