[Unit]
Description=Start offline update
ConditionPathExists=/var/sota/offline-updates

[Service]
Type=oneshot
SuccessExitStatus=0 100 101
ExecStart=/usr/bin/aklite-offline install --log-level=0 --src-dir /var/sota/offline-updates/
ExecStartPost=/bin/sh -c 'rm -rf /var/sota/offline-updates; shutdown -r 1'
