[Unit]
Description=Disable adbd usb eth gadgets dropbear ssh server for increased security
ConditionPathExists=/var/secure_device

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/sh -c '\
systemctl disable android-tools-adbd.service && systemctl disable dropbear.socket &&\
mkdir -p /etc/systemd/system-preset &&\
ln -s /dev/null /etc/systemd/system-preset/98-android-tools-adbd.preset &&\
ln -s /dev/null /etc/systemd/system-preset/98-dropbear.preset'

[Install]
WantedBy=sysinit.target
