[Unit]
Description=Android Debug Bridge
ConditionPathExists=/sys/class/typec/port0/data_role
After=network-pre.target dbus.service
Before=android-system.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStartPre=/usr/bin/arduino-android-gadget-setup
ExecStartPost=/bin/sh -c 'sleep 2 && UDC=$(ls /sys/class/udc) && echo $UDC > /sys/kernel/config/usb_gadget/g1/UDC'
ExecStart=/usr/bin/adbd

[Install]
WantedBy=basic.target
