/**
 */

/ {
	bat: battery {
		compatible = "simple-battery";
		precharge-current-microamp = <256000>;
		charge-term-current-microamp = <128000>;
		/*
		compatible = "simple-battery";
		voltage-min-design-microvolt = <3200000>;
		energy-full-design-microwatt-hours = <5290000>;
		charge-full-design-microamp-hours = <1430000>;
		precharge-current-microamp = <256000>;
		charge-term-current-microamp = <128000>;
		constant-charge-current-max-microamp = <900000>;
		constant-charge-voltage-max-microvolt = <4200000>;
		*/
	};

	sound-cs42l52 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "cs42l52-audio";
		simple-audio-card,format = "left_j";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		simple-audio-card,widgets =
			"Microphone", "Microphone A",
			"Microphone", "Microphone B",
			"Line", "Line In Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "External Speaker";
		simple-audio-card,routing =
			"AIN1L", "Line In Jack" ,
			"AIN1R", "Line In Jack",
			"AIN2L", "Line In Jack" ,
			"AIN2R", "Line In Jack",
			"AIN3L", "Line In Jack" ,
			"AIN3R", "Line In Jack",
			"AIN4L", "Line In Jack" ,
			"AIN4R", "Line In Jack",
			"MICA", "Microphone A",
			"MICB", "Microphone B",
			"Microphone A", "Mic Bias",
			"Microphone B", "Mic Bias",
			"Headphone Jack", "HPOUTA",
			"Headphone Jack", "HPOUTB",
			"External Speaker", "SPKOUTA",
			"External Speaker", "SPKOUTB";

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&sai3>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
		};

		simple-audio-card,codec {
			sound-dai = <&cs42l52>;
			clocks = <&clk IMX8MM_CLK_SAI3_ROOT>;
		};
	};

	sound-spdif {
		compatible = "fsl,imx-audio-spdif";
		model = "imx-spdif";
		spdif-controller = <&spdif1>;
		spdif-out;
		spdif-in;
	};

	sound-micfil {
		compatible = "fsl,imx-audio-micfil";
		model = "imx-audio-micfil";
		cpu-dai = <&micfil>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8mm {
/*
		pinctrl_gpio1: gpio1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO07_GPIO1_IO7     0xC0000041
				MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8     0xC0000041
				MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9     0xC0000041
				MX8MM_IOMUXC_GPIO1_IO10_GPIO1_IO10    0xC0000041
				MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11    0xC0000041
			>;
		};

		pinctrl_gpio3: gpio3grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19     0xC0000041
				MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20      0xC0000041
			>;
		};
*/
/*
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19      0x130b1 // default pulldown
			>;
		};
*/
/**/
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO07_GPIO1_IO7   0x44 /* J2 46: EN_USB */
				MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9   0x44 /* J2 50: CELL_RST */
				MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11  0x44 /* J2 54: CELL_PON */
				MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13  0x44 /* J2 61: PWM2 485/232N */
				MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14  0x44 /* J2 63: PWM3 EN_485 */
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C2_SCL_I2C2_SCL      0x400001c3
				MX8MM_IOMUXC_I2C2_SDA_I2C2_SDA      0x400001c3
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C3_SCL_I2C3_SCL      0x400001c3
				MX8MM_IOMUXC_I2C3_SDA_I2C3_SDA      0x400001c3
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C4_SCL_I2C4_SCL      0x400001c3
				MX8MM_IOMUXC_I2C4_SDA_I2C4_SDA      0x400001c3
			>;
		};

		pinctrl_pdm: pdmgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_MCLK_PDM_CLK      0xd6
				MX8MM_IOMUXC_SAI1_RXD2_PDM_DATA2    0xd6
				MX8MM_IOMUXC_SAI1_RXD7_GPIO4_IO9    0x19
			>;
		};

		pinctrl_sai3: sai3grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXFS_SAI3_TX_SYNC     0xd6
				MX8MM_IOMUXC_SAI3_TXC_SAI3_TX_BCLK      0xd6
				MX8MM_IOMUXC_SAI3_TXD_SAI3_TX_DATA0     0xd6
				MX8MM_IOMUXC_SAI3_RXD_SAI3_RX_DATA0     0xd6
			>;
		};

		pinctrl_sai5: sai5grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD1_SAI5_TX_SYNC     0xd6
				MX8MM_IOMUXC_SAI5_RXD2_SAI5_TX_BCLK     0xd6
				MX8MM_IOMUXC_SAI5_RXD3_SAI5_TX_DATA0    0xd6
				MX8MM_IOMUXC_SAI5_RXD0_SAI5_RX_DATA0    0xd6
			>;
		};

		pinctrl_spdif1: spdif1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_TX_SPDIF1_OUT        0xd6
				MX8MM_IOMUXC_SPDIF_RX_SPDIF1_IN         0xd6
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX       0x140
				MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX       0x140
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX       0x140
				MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX       0x140
			>;
		};
	};
};

&gpio3 {
	//pinctrl-name = "default";
	//pinctrl-0 = <&pinctrl_gpio3>;
	sd_pon {
		gpio-hog;
		//gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
		gpios = <19 0>;
#if 1
		output-low;
#else
		output-high;
#endif
		line-name = "SD_PON-gpio";
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	bq24195: charger@6b {
		compatible = "ti,bq24195";
		reg = <0x6b>;
		interrupt-parent = <&gpio3>;
		interrupts = <20 GPIO_ACTIVE_LOW>;
		monitored-battery = <&bat>;
		ti,system-minimum-microvolt = <3200000>;
		omit-battery-class;
	};

	cs42l52: cs42l52@4a {
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs42l52";
		reg = <0x4a>;
		cirrus,reset-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
		cirrus,chgfreq-divisor = <0x05>;
		cirrus.mica-differential-cfg;
		cirrus,micbias-lvl = <5>;
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX8MM_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	status = "okay";
};

&sai5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai5>;
	assigned-clocks = <&clk IMX8MM_CLK_SAI5>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <49152000>;
	clocks = <&clk IMX8MM_CLK_SAI5_IPG>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_SAI5_ROOT>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_AUDIO_PLL1_OUT>,
		<&clk IMX8MM_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-asynchronous;
	status = "disabled";
};

&spdif1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spdif1>;
	assigned-clocks = <&clk IMX8MM_CLK_SPDIF1>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	clocks = <&clk IMX8MM_CLK_AUDIO_AHB>, <&clk IMX8MM_CLK_24M>,
		<&clk IMX8MM_CLK_SPDIF1>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_AUDIO_AHB>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_AUDIO_PLL1_OUT>, <&clk IMX8MM_AUDIO_PLL2_OUT>;
	clock-names = "core", "rxtx0", "rxtx1", "rxtx2", "rxtx3",
		"rxtx4", "rxtx5", "rxtx6", "rxtx7", "spba", "pll8k", "pll11k";
	status = "okay";
};

// Connect on CSI connector
&micfil {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pdm>;
	assigned-clocks = <&clk IMX8MM_CLK_PDM>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <196608000>;
	status = "okay";
};

&uart2 { /* SARA */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart4 { /* LORA */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	assigned-clocks = <&clk IMX8MM_CLK_UART4>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	/*fsl,uart-has-rtscts;*/
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};
