/**
 * Portenta-X8 dtb overlay file
 * Arduino 2023
 * This overlay is adding the RPi V1.3 camera
 * with cmos sensor ov5647 to Rasp-Tenta carrier board
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/imx8mm-clock.h>
#include "imx8mm-pinfunc.h"

/ {
	compatible = "fsl,imx8mm-evk", "fsl,imx8mm";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			ov5647_dovdd_1v8: 1p8v {
				compatible = "regulator-fixed";
				regulator-name = "camera_dovdd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			ov5647_avdd_2v8: 2p8v {
				compatible = "regulator-fixed";
				regulator-name = "camera_avdd";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			ov5647_dvdd_1v5: 1p5v {
				compatible = "regulator-fixed";
				regulator-name = "camera_dvdd";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
			};
		};
	};

	fragment@1 {
		target = <&i2c2>;
		__overlay__ {
			ov5647_mipi@36 {
				compatible = "ovti,ov5647_mipi";
				reg = <0x36>;
				status = "okay";
				DOVDD-supply = <&ov5647_dovdd_1v8>;
				DVDD-supply = <&ov5647_dvdd_1v5>;
				AVDD-supply = <&ov5647_avdd_2v8>;
				clocks = <&clk IMX8MM_CLK_CLKO1>;
				clock-names = "csi_mclk";
				assigned-clocks = <&clk IMX8MM_CLK_CLKO1>;
				assigned-clock-parents = <&clk IMX8MM_CLK_24M>;
				assigned-clock-rates = <24000000>;
				csi_id = <0>;
				pwn-gpios = <&x8h7_gpio 5 GPIO_ACTIVE_HIGH>; /* stm32h7 PE10 */
				mclk = <24000000>;
				mclk_source = <0>;
				port {
					ov5640_mipi1_ep: endpoint {
						remote-endpoint = <&mipi1_sensor_ep>;
						data-lanes = <2>;
						link-frequencies = /bits/ 64 <297000000>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&csi1_bridge>;
		__overlay__ {
			port {
				csi1_ep: endpoint {
					remote-endpoint = <&csi1_mipi_ep>;
				};
			};
		};
	};

	fragment@3 {
		target = <&mipi_csi_1>;
		__overlay__ {
			port {
				csi1_mipi_ep: endpoint@2 {
					remote-endpoint = <&csi1_ep>;
				};

				mipi1_sensor_ep: endpoint@1 {
					remote-endpoint = <&ov5640_mipi1_ep>;
					data-lanes = <2>;
				};
			};
		};
	};
};